<!DOCTYPE html>
{% trans_default_domain 'BinovoTknikaBackups' %}
<html>
    <head>
        <title>{% block title %}Backup server{% endblock %}</title>
        <!-- Bootstrap -->
        {% stylesheets '@BinovoTknikaTknikaBackupsBundle/Resources/public/css/bootstrap.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.8/dijit/themes/claro/claro.css" media="screen">

        {% block scripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.8.0/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
        <script>dojoConfig = {async: true, parseOnLoad: true}</script>
        <script type="text/javascript">
            require(["dojo", "dojo/parser", "dijit/form/Button", "dijit/MenuBar", "dijit/MenuBarItem", "dijit/PopupMenuBarItem", "dijit/DropDownMenu", "dijit/MenuItem", "dojo/NodeList-manipulate"]);
        </script>
        {% endblock %}

    </head>
    <body class="claro">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
{% block header %}
{% endblock %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
{% block menu %}
{{ knp_menu_render('BinovoTknikaTknikaBackupsBundle:Builder:mainMenu') }}
{% endblock %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
{% block body %}
{% endblock %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
{% block footer %}
{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
