{% extends 'BinovoTknikaTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block body %}

<form class="form-horizontal" action="{{ path('changePassword') }}" method="post" {{ form_enctype(form) }}>
    <legend>{% trans %}Change password{% endtrans %}</legend>
{% for flashMessage in app.session.flashbag.get('changePassword') %}
    <div class="controls help-block">
        {{ flashMessage }}
    </div>
{% endfor %}
{% form_theme form 'BinovoTknikaTknikaBackupsBundle:Default:fields.html.twig' %}
    <div>
        {{ form_widget(form) }}
    </div>
    <input class="btn" type="submit" value="{% trans %}Change{% endtrans %}"/>
</form>

{% endblock %}
