# parameters.yml.dist is a template
parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: elkarbackup
    database_user: elkarbackup
    database_password: elkarbackup
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en
    secret: fba546d6ab6abc4a01391d161772a14e093c7aa2
    database_path: null
    upload_dir: /var/spool/elkarbackup/uploads
    backup_dir: /var/spool/elkarbackup/backups
    public_key: /var/lib/elkarbackup/.ssh/id_rsa.pub
    max_log_age: P1Y
    tmp_dir: /tmp
    rsnapshot: /usr/bin/rsnapshot
    warning_load_level: 0.8
    pagination_lines_per_page: 20
    url_prefix: null
    disable_background: false
    mailer_from: null
    tahoe_active: false
    home: /var/lib/elkarbackup
