/*

   - Author: Christian GR
   - e-mail: christiangr@gmail.com
   - Web:    www.christiangr.com

*/




/* ||| COLORES

azul oscuro cabecera:
#355177;

azul hover cabecera:
#3D5C87

*/


@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto-Italic';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Roboto-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Roboto-Light.woff') format('woff');
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: local('Glyphicons Halflings'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2');
}



/* ||| ZONA DEL LOGIN
*/

html, body { padding: 0; margin: 0; }

body.login {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto-Light';
  color: #281809;
}

.bg1 { background: url("../img/bg-login1.jpg") no-repeat fixed center; }
.bg2 { background: url("../img/bg-login2.jpg") no-repeat fixed center; }
.bg0 { background: url("../img/bg-login3.jpg") no-repeat fixed center; }
.nobg { background-color: lightgray; }

.language,
.language a,
.language a:hover {
  color: #fff;
}

.language a:after:last-child {
  content: "";
}

.language p:last-child {
  margin-top: -9px;
}

.version {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 25px;
}

h2.login-elkarbackup {
    background: url("../img/elkarbackup.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 65px;
    display: block;
    margin-bottom: 30px;
    text-indent: -9999px;
}

.form-signin {
    background: none repeat scroll 0 0 rgba(53, 81, 119, 0.93);
    margin: 15% auto 0;
    overflow: hidden;
    padding: 20px 40px 5px 40px;
    width: 480px;
}

.login-alert {
    margin-top: 20px;
    width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* PARA NAVEGADORES */

@media (max-width:450px){

  .form-signin {
    background: none repeat scroll 0 0 rgba(45, 63, 80, 0.93);
    margin: 0;
    overflow: hidden;
    padding: 10px;
    width: auto;
  }

}


.form-signin .form-signin-heading,
.form-signin .message {
  margin-bottom: 10px;
}

.form-signin .message {
  font-weight: 300;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.btn-login {
  padding: 10px 0;
  text-transform: uppercase;
}



/* |||  General
*/

body {
    /*background: url("../img/imagotipo.png") no-repeat left bottom fixed #f0f0f0;*/
    font-family: 'Roboto-Light', sans-serif;
    background: #efefef
}

h3, .h3 {
    border-bottom: 0 dotted #ccc;
    color: #355177;
    font-size: 29px;
    margin-bottom: 10px;
    padding: 10px 0 5px;
}

.title-img {
    height: 30px;
    margin-top: -5px;
    width: 30px;
}

#jobs-container .glyphicon {
    color: #4c6987;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.jumbotron {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.jumbotron h3, .jumbotron .h3  {
    padding-top: 0px;
}

.progress-bar-info {
    background-color: #355177;
}

.display-block {
  display: block;
}

.inline-block {
  display: inline-block;
}

a {
  color: #4c6987;
}

a:hover {
  color: #567799;
}

table {
  border: 1px solid #ddd;
}

table th, table td {
    padding: 5px;
    vertical-align: middle;
}

table th:hover,
table th {
  background: #e9eef5 !important;/* #eaedef*/
  border-bottom: 1px solid #ced2d9;
  color: #000;
  font-weight: 300;
  padding: 10px 5px !important;
  font-size: 16px;
}

table tr.client-row {
  background: #f5f5f5;
}

table tr.client-row td {
  border-bottom: 1px solid #c4c4c4 !important;
}

table tr.job-row td {
  border: 0px solid #c4c4c4 !important;
}

.btn-add-client {
  font-size: 24px;
  margin: 0 8px;
}

.btn.btn-default,
.btn.btn-default .glyphicon {
  color: #355177;
}

.btn.btn-default.btn-danger .glyphicon {
  color: #e8443f;
}

.btn-default:hover {
    background-color: #ecf2fa;
    border-color: #bbcbe2;
    color: #333;
}

.btn.btn-default.btn-danger {
    background-color: #fff;
    border-color: #ccc;
    color: #355177;
}

.btn.btn-default.btn-danger:hover {
    background-color: #faebea;
    border-color: #edc5c4;
    color: #333;
}

/* icono carpeta */
.glyphicon.glyphicon-folder-open {
    padding-left: 2px;
    padding-top: 0px;
}

/* icono monitor */
.client-icon {
    background: url("../img/ico-client.svg") no-repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    margin-bottom: -4px;
    width: 20px;
}

tr.job-row td:first-child span {
    margin-left: 3px;
    margin-right: 3px;
}

.label {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.label-default {
    background-color: #c2c2c2;
}

.label-success {
    background-color: #9ab24d;
}
.label-warning {
    background-color: #ff5953;
}
/*
table tr.disabled:hover td:nth-child(-n+7),
table tr.disabled td:nth-child(-n+7){
  background: #ebebeb !important;
  opacity: .4;
}
*/

/* |||  RESET
*/

legend { border: 0px !important; }

/* recoloca checkbox */
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: 0;
  position: relative;
}




/* |||  MENU SUPERIOR
*/


.claro .dijitMenuBar { background: none; border: 0px; }
.claro .dijitMenuItem { color: #fff }


/* PARA NAVEGADORES */

@media (min-width:700px){
  .claro .dijitMenuBar .dijitMenuItem {
      border-right: 1px solid rgba(255,255,255,0.07);
      padding: 32px 20px;
      text-transform: uppercase;
  }

  .navbar {
    margin-bottom: 0;
    float: right;
  }

  .claro .dijitMenuBar .dijitMenuItemHover,
  .claro .dijitMenuBar .dijitMenuItemSelected,
  .claro .dijitMenuBar .dijitMenuItemFocused,
  .claro .dijitMenuBar .dijitMenuItemActiveFocused,
  .claro .dijitMenuBar .dijitMenuItemActive{
      background: #3D5C87  !important;
      margin: -1px -1px -1px -2px !important;
      padding: 31px 20px !important;
      border: 1px solid #3D5C87;
      border-right: 1px solid rgba(255,255,255,0.07);
  }

}


/* PARA MOVILES */

@media (max-width:700px){
  .claro .dijitMenuBar .dijitMenuItem {
      padding: 10px;
      text-transform: uppercase;
      width: 100%;
      display: block;
      border-bottom: 1px solid #3D5C87 !important;
      text-align: center;
  }

  .navbar {
    clear: both;
    float: none;
  }

  .claro .dijitMenuBar .dijitMenuItemHover,
  .claro .dijitMenuBar .dijitMenuItemSelected,
  .claro .dijitMenuBar .dijitMenuItemFocused,
  .claro .dijitMenuBar .dijitMenuItemActiveFocused,
  .claro .dijitMenuBar .dijitMenuItemActive{
      background: #3D5C87  !important;
      margin: -2px -1px -1px -1px !important;
      border: 1px solid #355177 !important;
      border-bottom: 1px solid #3D5C87 !important;
  }

}




.current_ancestor{
    background: #3D5C87  !important;
}

table.dijit.dijitMenu.menu_level_3,
table.dijit.dijitMenu.menu_level_2,
table.dijit.dijitMenu.menu_level_1 {
  border: 1px solid #3D5C87 !important;
  min-width: 200px !important;
  text-align: left !important;
}

table.dijit.dijitMenu.menu_level_3 tbody tr td,
table.dijit.dijitMenu.menu_level_2 tbody tr td,
table.dijit.dijitMenu.menu_level_1 tbody tr td {
  border-bottom: 1px solid #496582 !important;
  color: #fff !important;
  text-align: left !important;
}

table.dijit.dijitMenu.menu_level_3 tbody tr td.dijitMenuItemLabel,
table.dijit.dijitMenu.menu_level_2 tbody tr td.dijitMenuItemLabel,
table.dijit.dijitMenu.menu_level_1 tbody tr td.dijitMenuItemLabel {
  padding-left: 7px;
}

table.dijit.dijitMenu.menu_level_3 tbody tr,
table.dijit.dijitMenu.menu_level_2 tbody tr,
table.dijit.dijitMenu.menu_level_1 tbody tr {
  background: #3D5C87 !important;
}

table.dijit.dijitMenu.menu_level_3 tbody tr:hover,
table.dijit.dijitMenu.menu_level_2 tbody tr:hover,
table.dijit.dijitMenu.menu_level_1 tbody tr:hover {
  background: #496582 !important;
}

table.dijit.dijitMenu.menu_level_3 tbody tr td a,
table.dijit.dijitMenu.menu_level_2 tbody tr td a,
table.dijit.dijitMenu.menu_level_1 tbody tr td a {
  color: #fff !important;
  text-decoration: none !important;
  text-align: left !important;
  float: left !important;
}

/* || FLECHA DE LOS SUBMENUS */

.claro .dijitMenuExpand {
    background-image: url("../img/spriteArrows.png") !important;
    background-position: -70px 0 !important;
    height: 7px;
    margin-right: 3px;
    width: 7px;
}


/* |||  CLASES COMUNES
*/

.btn-elkarbackup {
  background: #355177;
  border-color: #355177;
  color: #fff;
}

.btn-elkarbackup:active,
.btn-elkarbackup:focus,
.btn-elkarbackup:hover {
  background: #1e2a36;
  border-color: #1e2a36;
  color: #fff;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}



/* |||  General
*/

.row { margin-left: 0; margin-right: 0; }

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.logo {
    padding: 7px;
}



.error-top {
  display: block;
  left: 50%;
  position: absolute;
  text-align: center;
  top: -99px;
  width: 60%;
}

span.required {
  color: red;
}

.top-action-buttons {
  margin-top: 28px;
}

#cont-top {
    margin: 0 auto;
}






/* PARA MOVILES */

@media (min-width:700px){

  #top {
      background: #355177;
      border-bottom: 1px solid #f0f0f0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000
  }
  #contenido {
    background: rgba(255,255,255,0.69);
    padding: 10px;
    margin-top: 56px;
  }
}

/* PARA MOVILES */

@media (max-width:700px){
  #top {
      background: #355177;
      border-bottom: 1px solid #f0f0f0;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000
  }
  #contenido {
    margin-top: 0px;
  }
}


.logo {
    float: left;
}

/*
JOBS
*/

table#clients tr th:nth-child(1),
table#clients tr th:nth-child(3),
table#clients tr th:nth-child(5),
table#clients tr th:nth-child(6),
table#clients tr th:nth-child(7),
table#clients tr th:nth-child(8),
table#clients tr th:nth-child(9) {
  text-align: center;
}

table#clients tr td:nth-child(1),
table#clients tr td:nth-child(3),
table#clients tr td:nth-child(5),
table#clients tr td:nth-child(6),
table#clients tr td:nth-child(7),
table#clients tr td:nth-child(8),
table#clients tr td:nth-child(9) {
  text-align: center;
}

table#clients tr th,
table#clients tr td {
  vertical-align: middle;
}

table#clients tr th:nth-child(7) {
  width: 5%;
}

/*
POLICIES
*/

table#policies tr th:nth-child(1),
table#policies tr th:nth-child(3) {
  text-align: center;
}

table#policies tr td:nth-child(1),
table#policies tr td:nth-child(3) {
  text-align: center;
}
table#policies tr th,
table#policies tr td {
  vertical-align: middle;
}

/*
USERS
*/

table#users tr th:nth-child(1),
table#users tr th:nth-child(4),
table#users tr th:nth-child(5) {
  text-align: center;
}

table#users tr td:nth-child(1),
table#users tr td:nth-child(4),
table#users tr td:nth-child(5) {
  text-align: center;
  vertical-align: middle;
}

table#users tr th,
table#users tr td {
  vertical-align: middle;
}


/*
LOGS
*/

table#logs tr th:nth-child(1) {
  text-align: center;
}

table#logs tr td:nth-child(1) {
  text-align: center;
}

table#logs tr th,
table#logs tr td {
  vertical-align: middle;
}

/*
POLICY
*/
.panel-legend
{
    padding-top: 10px;
    margin-bottom: 0px !important;
    font-size: 18px !important;
    font-weight: 300 !important;
}

/*
SORT JOBS
*/
.dojoDndItemAnchor{
  background-color: #759DC0 !important;
}

/*
CLIENTS-TASKS
*/

.table {
  margin-bottom: 10px;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}



/* PAGINACIONES
*/

.navigation.binovo-pagination {
    text-align: center;
    clear: both;
}

.binovo-pagination .pagination > span {
    display: inline;
}

.binovo-pagination .pagination > span > a {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #4c6987;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.binovo-pagination .pagination > span > a:hover,
.binovo-pagination .pagination > span > a:focus,
.binovo-pagination .pagination > span > a:active,
 {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #355177;
}

.binovo-pagination .pagination > span.current {
    float: left;
    line-height: 1.59;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    background-color: #4c6987;
    border-color: #4c6987;
    color: #fff;
    cursor: default;
    z-index: 2;
}

span.next a span, span.last a span {
    width: 10px;
}

/**/


/* FEEDBACK EN LOS INPUTS
*/

.percent {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
  border-left: 1px solid #ccc;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


/* CLIENT AND JOB EDITION
*/

.autoheight {
  height: 100px;
  overflow-y:scroll;
}

.dojoxCheckedMultiSelectSelect{
  display: none;
}


/* Scrollbar for Pre and Post Script Form  Only Webkit */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#User_roles .form-group label
{
display:none;
}


.client-advanced-section{
  margin-bottom: 10px !important;
}

.dijitTitlePaneTitleActive{
  background-color: #355177 !important;
  border-color: #759DC0 !important;
}

.dijitTitlePaneTitleHover{
  background-color: #3D5C87 !important;
  border-color: #759DC0 !important;
}


.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}



/* New menu design */

 #top .navbar li a, #top .navbar li {
     font-family: 'Roboto-Light', sans-serif !important;
     font-weight: 100 !important;
 }

 #top .navbar li a:hover {
     background: #3d5c87 none repeat scroll 0 0;
 }

 #top .navbar li.current a {
     background: #3d5c87 none repeat scroll 0 0;
 }

 #top .navbar li a {
     border-left: 0px solid #22303d;
     border-right: 0px solid #364c61;
     color: #fff;
     font-size: 18px;
     padding: 29px 20px 26px 20px;
     font-family: 'Roboto-Light', sans-serif !important;
     font-weight: 100 !important;
 }

 #top .navbar li:first-child a {
     border-left: 0px solid #22303d;
 }
 #top .navbar li:last-child a {
     border-right: 0px solid #22303d;
 }

 .Config.dropdown.dropdown-toggle > span {
     display: inline-block;
     color: #fff;
     font-size: 18px;
     padding: 27px 20px 26px;
     border-left: 0px solid #22303d;
     border-right: 0px solid #364c61;
 }

 .Config.dropdown.dropdown-toggle > span:hover {
     background: #3d5c87 none repeat scroll 0 0;
 }

 .dropdown-menu.sub-menu.menu_level_1 li a {
     padding: 10px !important;
     font-size: 16px !important;
     border-bottom: 1px solid #355177;
     border-top: 1px solid #355177;
 }

 .dropdown-menu.sub-menu.menu_level_1 li:first-child a {
     border-top: 0px solid #355177;
 }

 .dropdown-menu.sub-menu.menu_level_1 li:last-child a {
     border-bottom: 0px solid #355177;
 }

 .dropdown-menu.sub-menu.menu_level_1 {
     background: #355177 none repeat scroll 0 0;
     left: auto !important;
     right: 0;
     top: 77px;
 }

 #top .navbar li i.glyphicon {
     margin-right: 7px;
 }

 #footer {
     padding: 40px;
 }

/* Drop to the right for More menu */

.dropright {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropright {
    visibility: visible;
}


.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 100;
    vertical-align: center;
    width: 0;
}

/* DISC USAGE */

#disc-usage {
  cursor: pointer;
  display: inline;
  margin-right: 10px;
  position: relative;
}

img.dangerous {

 -webkit-animation: jump 1.5s ease 0s infinite normal ;
 animation: jump 1.5s ease 0s infinite normal ;
}

@-webkit-keyframes jump {
 0%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 20%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 40%{
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
 }
 50%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 60%{
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
 }
 80%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
 100%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
 }
}

@keyframes jump {
 0%{
  transform: translateY(0);
 }
 20%{
  transform: translateY(0);
 }
 40%{
  transform: translateY(-30px);
 }
 50%{
  transform: translateY(0);
 }
 60%{
  transform: translateY(-15px);
 }
 80%{
  transform: translateY(0);
 }
 100%{
  transform: translateY(0);
 }
}





#usage-box {
  display: none;
}

#disc-usage:hover #usage-box {
  display: block;
  left: -145px;
  padding: 10px 0 0;
  position: absolute;
  top: 19px;
  width: 320px;
  z-index: 9999;
}

#usage {
  background: #2e496d;
  color: #fff;
  border-radius: 3px;
  padding: 30px 30px 20px 30px;
  overflow: hidden;
}

#disc-status {
  float: left;
  width: 29%;
  margin-right: 10px;
  height: 60px;
}

.ico-success  { background: url("../img/disc-ico-success.png") no-repeat; }
.ico-warning  { background: url("../img/disc-ico-warning.png") no-repeat; }
.ico-danger   { background: url("../img/disc-ico-danger.png")  no-repeat; }


#disc-info {
  float: left;
  width: 65%;
}

#disc-info h3 {
  border-bottom: 0;
  font-family: 'Roboto-Light';
  font-size: 20px;
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

#disc-info h3 span {
  font-family: 'Roboto-Light';
}

.tooltip-arrow {
    border-bottom-color: #2e496d;
    border-width: 0 10px 10px;
    left: 151px;
    margin-left: -5px;
    top: 0;
}

.progress-bar-success { background-color: #c3d686; }
.progress-bar-warning { background-color: #d6af86; }
.progress-bar-danger { background-color: #c23939; }




/*
 * Collapsable panels (with arrows)
 */
 .panel-collapsable-title a {

 }

 .panel-collapsable-heading a:after {
     font-family:'Glyphicons Halflings';
     content:"\e114";
     float: right;
     color: grey;
 }
 .panel-collapsable-heading a.collapsed:after {
     content:"\e080";
 }

 /* boton generador token alineaciÃ³n */

#generateToken, #removeToken {
    margin-top: -15px !important;
}

.glyphicon:before {
    margin-right: 5px;
}




/* RESPONSIVE */

@media screen and (min-width: 100px) and (max-width: 400px) {
  .logo {
    text-align: center;
    float: none;
  }

  #cont-top {
      width: 95% !important;
  }

  .logo img {
      margin-top: 10px;
      width: 80px;
  }

  #top .navbar li a {
    float: left;
    font-size: 15px;
  }

}

@media screen and (min-width: 400px) and (max-width: 1024px) {
  .logo {
    text-align: center;
    float: left;
  }

  #cont-top {
    width: 750px;
  }

  .logo img {
      margin-top: 12px;
      width: 110px;
  }

  #top {
      max-height: auto;
  }

  #cont-top{
      background: #355177;
      width: 750px;
      overflow: hidden;
      max-height: auto;
  }

  #top .navbar li a {
    float: left;
    font-size: 15px;
  }

}

@media screen and (min-width: 980px) and (max-width: 1200px) {
  .logo img {
      margin-top: 0;
      width: auto;
  }

  #cont-top {
      width: 750px;
      overflow: visible;
  }

  #top {
      max-height: 79px;
      overflow: visible;
  }

  #cont-top {
      background: #355177;
      width: 970px;
      overflow: visible;
      max-height: 78px;
  }

  #top .navbar li a {
    float: none;
    font-size: 18px;
  }

}

@media screen and (min-width: 1200px) and (max-width: 2000px) {
  .logo img {
      margin-top: 0;
      width: auto;
  }

  #cont-top {
      width: 750px;
  }

  #top {
      max-height: 79px;
      overflow: visible;
  }

  #cont-top {
      background: #355177;
      width: 1170px;
      overflow: visible;
      max-height: 78px;
  }

  #top .navbar li a {
    float: none;
    font-size: 18px;
  }

}
