{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block body %}

<form class="form-horizontal" action="{{ path('runRestoreJobBackup', {idClient: idClient, idJob: idJob, path: path, idBackupLocation: idBackupLocation}) }}" method="post" {{ form_start(form) }}>
    <h3>{% trans %}Restore backup task{% endtrans %}</h3>
    <div class="row">
        <div class="col-md-6">
            {% for flashMessage in app.session.flashbag.get('manageParameters') %}
            <div class="controls help-block">
                {{ flashMessage }}
            </div>
            {% endfor %}
            {% form_theme form 'BinovoElkarBackupBundle:Default:fields.html.twig' %}
            <div>
                {{ form_widget(form) }}
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-default pull-right" type="submit" value="{% trans %}Submit{% endtrans %}"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% trans %}managerestore_help{% endtrans %}
        </div>
    </div>
</form>

{% endblock %}
