---
services:
  elkarbackup:
    #build:
    #  context: ../..
    #  dockerfile: ./docker/Dockerfile
    image: elkarbackup:test
    environment:
      SYMFONY_ENV: test
      DATABASE_HOST: "db"
      DATABASE_PORT: "3306"
      DATABASE_NAME: "elkarbackuptests"
      DATABASE_USER: "root"
      DATABASE_PASSWORD: "root"
      SYMFONY__DATABASE__PASSWORD: "root"
      SYMFONY__MAILER__HOST: "mailhog"
      EB_CRON: "enabled"
    ports:
      - "80:80"
    depends_on:
      - db
      - mailhog
    volumes:
      - ./tmp/backups:/var/spool/elkarbackup/backups
      - ./tmp/sshkeys:/app/.ssh
  db:
    image: mariadb:lts
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
  client:
    build:
      context: ../test_e2e
      dockerfile: client.Dockerfile
    volumes:
      - ./tmp/sshkeys/id_rsa.pub:/home/testuser/.ssh/authorized_keys:ro
      - ./tmp/client_data:/home/testuser/backup_data
      - ./tmp/client_restore:/home/testuser/restore_data
    expose:
      - "22"
  mailhog:
    image: mailhog/mailhog
    environment:
      MH_SMTP_BIND_ADDR: "0.0.0.0:25"
    ports:
      - "8025:8025"
