{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block body %}

<form class="form-horizontal col-md-6" action="{{ path('changePassword') }}" method="post" {{ form_enctype(form) }}>
    <h3>{% trans %}Change password{% endtrans %}</h3>
{% for flashMessage in app.session.flashbag.get('changePassword') %}
    <div class="controls help-block">
        {{ flashMessage }}
    </div>
{% endfor %}
{% form_theme form 'BinovoElkarBackupBundle:Default:fields.html.twig' %}
    <div>
        {{ form_widget(form) }}
        <div class="control-group">
            <div class="controls col-md-13">
                <input class="btn btn-default pull-right" type="submit" value="{% trans %}Change{% endtrans %}"/>
            </div>
        </div>
    </div>
</form>

{% endblock %}
