{##
 # @copyright 2012,2013 Binovo it Human Project, S.L.
 # @license http://www.opensource.org/licenses/bsd-license.php New-BSD
 #}
{% extends 'BinovoElkarBackupBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoElkarBackup' %}

{% block body %}

<h3>{% trans %}Manage preferences{% endtrans %}</h3>

<form class="form-horizontal" action="{{ path('managePreferences') }}" method="post" {{ form_enctype(form) }}>
    <div class="row">
        <div class="col-md-6">
            {% for flashMessage in app.session.flashbag.get('managePreferences') %}
            <div class="controls help-block">
                {{ flashMessage }}
            </div>
            {% endfor %}
            {% form_theme form 'BinovoElkarBackupBundle:Default:fields.html.twig' %}
            <div>
                {{ form_widget(form) }}
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn pull-right btn-default" type="submit">{% trans %}Save{% endtrans %}</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% trans %}preferences_help{% endtrans %}
        </div>
    </div>
</form>

{% endblock %}
