name: Test

on:
  push:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1

      - name: Run test suite
        run: docker compose -f docker/test/docker-compose.yml up --abort-on-container-exit --exit-code-from elkarbackup
