{% extends 'BinovoTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block body %}

<form class="form-horizontal" action="{{ path('saveScript', {id: form.vars.value.id}) }}" method="post" {{ form_enctype(form) }}>
    <legend>{% trans %}Edit script{% endtrans %}</legend>
    <div class="row-fluid">
        <div class="span6">
{% for flashMessage in app.session.flashbag.get('editScript') %}
            <div class="controls help-block">
                {{ flashMessage }}
            </div>
{% endfor %}
            {% form_theme form 'BinovoTknikaBackupsBundle:Default:fields.html.twig' %}
            {{ form_widget(form) }}
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-pull-right" type="submit" value="{% trans %}Save{% endtrans %}"/>
                </div>
            </div>
        </div>
        <div class="span6">
            {% trans %}script_help{% endtrans %}
        </div>
    </div>
</form>

{% endblock %}
