{% extends 'BinovoTknikaBackupsBundle:Default:base.html.twig' %}
{% trans_default_domain 'BinovoTknikaBackups' %}

{% block body %}

<form class="form-horizontal" action="{{ path('saveUser', {id: form.vars.value.id}) }}" method="post" {{ form_enctype(form) }}>
    <legend>{% trans %}Edit User{% endtrans %}</legend>
    <div class="row-fluid">
        <div class="span6">
            {% form_theme form 'BinovoTknikaBackupsBundle:Default:fields.html.twig' %}
            {{ form_widget(form) }}
            <input class="btn" type="submit" value="{% trans %}Save{% endtrans %}"/>
        </div>
        <div class="span6">
            {% trans %}user_help{% endtrans %}
        </div>
    </div>
</form>

{% endblock %}
